<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="footer__box">
        <h3 class="footer__box-title">
          Private individuals
        </h3>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Business incubator
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Business registration in Poland
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Virtual representation
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Legalization of stay in Poland
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Consultations
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__box">
        <h3 class="footer__box-title">
          For business
        </h3>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Audits of the Polish market
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Accounting support
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Legal support
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Marketing support
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__box">
        <h3 class="footer__box-title">
          About us
        </h3>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              About Moja Firma
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Career at Moja Firma
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              RODO / GDPR
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Our mission
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__box">
        <h3 class="footer__box-title">
          Guides
        </h3>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Guide to moving to Poland
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Guide to entering the Polish market
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Residence permit in Poland
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              Permanent residence in Poland
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">
              EU Resident Card
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="copyright__body">
        <div class="copyright__box">
          <div class="copyright__social">
            <a class="copyright__social-icon" href="#">
              {% include '../images/copyright/linkedin.svg' %}
            </a>
            <a class="copyright__social-icon" href="#">
              {% include '../images/copyright/twitter.svg' %}
            </a>
            <a class="copyright__social-icon" href="#">
              {% include '../images/copyright/telegram.svg' %}
            </a>
            <a class="copyright__social-icon" href="#">
              {% include '../images/copyright/facebook.svg' %}
            </a>
          </div>
          <p class="copyright__social-desc">
            We accept cryptocurrency payments
          </p>
        </div>
        <div class="copyright__box">
          <h5 class="copyright__box-title">
            Time in Poland:
          </h5>
          <p class="copyright__box-time">
            14:46 (GMT + 2)
          </p>
          <p class="copyright__box-schedule">
            We work: Mon. – Fri. 9.00 – 17.00
          </p>
        </div>
        <div class="copyright__box">
          <h5 class="copyright__box-title">
            Our address:
          </h5>
          <p class="copyright__box-address">
            ul. Juliana Bartoszewicza 3/11 <br>
            00-337 Warszawa
          </p>
        </div>
        <div class="copyright__box">
          <a class="logo" href="/">
            {% include '../images/logo-dark.svg' %}
          </a>
          <p class="copyright__box-address">
            © Copyright 2011-<script>document.write(new Date().getFullYear())</script> Moja Firma - All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="loader">
  <a class="logo" href="#">
    {% include '../images/logo.svg' %}
  </a>
</div>

</div>

<script src="js/script.min.js"></script>
</body>

</html>