{% set title = 'MojaFirma | Blog' %}

{% include './parts/_head.html' %}

<body>

  <div class="wrapper">

    {% include './parts/_header.html' %}

    <main class="main">

      <button class="to-top">
        <img class="to-top_img" src="./images/arrow-right.svg" alt="To top">
      </button>

      <section class="new" id="new">
        <div class="container">
          <div class="main__head">
            <h1 class="title">
              New on the blog
            </h1>
            <a class="main__link" href="#">
              see all
            </a>
          </div>
          <div class="new__blocks">
            <a class="new__block basic" href="#">
              <div class="new__block-bg">
                <img class="new__block-img" src="./images/new-block-image.jpg" alt="">
              </div>
              <div class="new__block-tags">
                <span class="new__block-tag">
                  permit/permanent
                </span>
                <span class="new__block-tag">
                  money
                </span>
              </div>
              <h4 class="new__block-title">
                Simplified relocation to Poland for IT-specialists from Romania
              </h4>
              <p class="new__block-text">
                The Polish government has decided to simplify the procedure for obtaining visa documents and moving to
                Poland
              </p>
              <div class="new__block-footer">
                <time class="new__block-date" datetime="2020-09-07">
                  7 Sep 2020
                </time>
                <div class="new__block-details">
                  <span class="new__block-comments">
                    14
                  </span>
                  <span class="new__block-views">
                    256
                  </span>
                  <span class="new__block-time">
                    3 min.
                  </span>
                </div>
              </div>
            </a>
            <a class="new__block" href="#">
              <h5 class="new__block-title">
                CRBR in Poland: register of beneficiaries
              </h5>
              <div class="new__block-footer">
                <time class="new__block-date" datetime="2020-09-07">
                  7 Sep 2020
                </time>
                <div class="new__block-details">
                  <span class="new__block-comments">
                    14
                  </span>
                  <span class="new__block-views">
                    256
                  </span>
                  <span class="new__block-time">
                    3 min.
                  </span>
                </div>
              </div>
            </a>
            <a class="new__block" href="#">
              <h5 class="new__block-title">
                CRBR in Poland: register of beneficiaries
              </h5>
              <div class="new__block-footer">
                <time class="new__block-date" datetime="2020-09-07">
                  7 Sep 2020
                </time>
                <div class="new__block-details">
                  <span class="new__block-comments">
                    14
                  </span>
                  <span class="new__block-views">
                    256
                  </span>
                  <span class="new__block-time">
                    3 min.
                  </span>
                </div>
              </div>
            </a>
            <a class="new__block" href="#">
              <h5 class="new__block-title">
                Simplified relocation to Poland for IT-specialists from Romania
              </h5>
              <div class="new__block-footer">
                <time class="new__block-date" datetime="2020-09-07">
                  7 Sep 2020
                </time>
                <div class="new__block-details">
                  <span class="new__block-comments">
                    14
                  </span>
                  <span class="new__block-views">
                    256
                  </span>
                  <span class="new__block-time">
                    3 min.
                  </span>
                </div>
              </div>
            </a>
            <a class="new__block" href="#">
              <h5 class="new__block-title">
                Permanent residence in Poland with a Pole's Card or by origin
              </h5>
              <div class="new__block-footer">
                <time class="new__block-date" datetime="2020-09-07">
                  7 Sep 2020
                </time>
                <div class="new__block-details">
                  <span class="new__block-comments">
                    14
                  </span>
                  <span class="new__block-views">
                    256
                  </span>
                  <span class="new__block-time">
                    3 min.
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>

      <section class="themes" id="themes">
        <div class="container">
          <div class="main__head">
            <h2 class="subtitle">
              All topics
            </h2>
            <a class="main__link" href="#">
              All topics
            </a>
          </div>
          <div class="themes__slider">
            <a class="themes__slide" href="#">
              <div class="themes__slide-bg">
                <img class="themes__slide-img" src="./images/themes/slide-bg-1.jpg" alt="">
              </div>
              <h5 class="themes__slide-title">
                Business и money
              </h5>
              <p class="themes__slide-text">
                10 articles
              </p>
            </a>
            <a class="themes__slide" href="#">
              <div class="themes__slide-bg">
                <img class="themes__slide-img" src="./images/themes/slide-bg-2.jpg" alt="">
              </div>
              <h5 class="themes__slide-title">
                Permit/permanent
              </h5>
              <p class="themes__slide-text">
                10 articles
              </p>
            </a>
            <a class="themes__slide" href="#">
              <div class="themes__slide-bg">
                <img class="themes__slide-img" src="./images/themes/slide-bg-3.jpg" alt="">
              </div>
              <h5 class="themes__slide-title">
                Life
              </h5>
              <p class="themes__slide-text">
                10 articles
              </p>
            </a>
            <a class="themes__slide" href="#">
              <div class="themes__slide-bg">
                <img class="themes__slide-img" src="./images/themes/slide-bg-4.jpg" alt="">
              </div>
              <h5 class="themes__slide-title">
                Laws
              </h5>
              <p class="themes__slide-text">
                10 articles
              </p>
            </a>
            <a class="themes__slide" href="#">
              <div class="themes__slide-bg">
                <img class="themes__slide-img" src="./images/themes/slide-bg-5.jpg" alt="">
              </div>
              <h5 class="themes__slide-title">
                Taxes
              </h5>
              <p class="themes__slide-text">
                10 articles
              </p>
            </a>
            <a class="themes__slide" href="#">
              <div class="themes__slide-bg">
                <img class="themes__slide-img" src="./images/themes/slide-bg-6.jpg" alt="">
              </div>
              <h5 class="themes__slide-title">
                News
              </h5>
            </a>
            <a class="themes__slide" href="#">
              <div class="themes__slide-bg">
                <img class="themes__slide-img" src="./images/themes/slide-bg-7.jpg" alt="">
              </div>
              <h5 class="themes__slide-title">
                Transport
              </h5>
            </a>
            <a class="themes__slide" href="#">
              <div class="themes__slide-bg">
                <img class="themes__slide-img" src="./images/themes/slide-bg-1.jpg" alt="">
              </div>
              <h5 class="themes__slide-title">
                Economy
              </h5>
            </a>
          </div>
        </div>
      </section>

      <section class="articles" id="articles">
        <div class="container">
          <div class="main__head">
            <h2 class="subtitle">
              Popular articles
            </h2>
            <a class="main__link" href="#">
              see all
            </a>
          </div>
          <div class="articles__content">
            <a class="articles__maincard" href="#">
              <div class="articles__maincard-bg">
                <img class="articles__maincard-img" src="./images/articles/main-card-img.jpg" alt="">
              </div>
              <div class="articles__maincard-tags">
                <span class="articles__maincard-tag">
                  Permit/permanent
                </span>
                <span class="articles__maincard-tag">
                  money
                </span>
              </div>
              <div class="articles__maincard-info">
                <h3 class="articles__maincard-title">
                  CRBR in Poland: register of beneficiaries
                </h3>
                <p class="articles__maincard-text">
                  The Polish government has decided to simplify the procedure for obtaining visa documents and moving to
                  Poland
                </p>
              </div>
              <div class="articles__card-footer">
                <time class="articles__card-date" datetime="2020-09-20">
                  20 Sep 2020
                </time>
                <div class="articles__card-details">
                  <span class="articles__card-comments">
                    14
                  </span>
                  <span class="articles__card-views">
                    256
                  </span>
                  <span class="articles__card-time">
                    3 min.
                  </span>
                </div>
              </div>
            </a>
            <a class="articles__card" href="#">
              <div class="articles__maincard-tags">
                <span class="articles__maincard-tag">
                  Permit/permanent
                </span>
                <span class="articles__maincard-tag">
                  money
                </span>
              </div>
              <div class="articles__card-photo">
                <img class="articles__card-img" src="./images/articles/card-img-1.jpg" alt="">
              </div>
              <div class="articles__card-info">
                <h5 class="articles__card-title">
                  CRBR in Poland: register of beneficiaries
                </h5>
                <div class="articles__card-footer">
                  <time class="articles__card-date" datetime="2020-09-20">
                    20 Sep 2020
                  </time>
                  <div class="articles__card-details">
                    <span class="articles__card-comments">
                      20
                    </span>
                    <span class="articles__card-views">
                      256
                    </span>
                    <span class="articles__card-time">
                      3 min.
                    </span>
                  </div>
                </div>
              </div>
            </a>
            <a class="articles__card" href="#">
              <div class="articles__maincard-tags">
                <span class="articles__maincard-tag">
                  Permit/permanent
                </span>
                <span class="articles__maincard-tag">
                  money
                </span>
              </div>
              <div class="articles__card-photo">
                <img class="articles__card-img" src="./images/articles/card-img-2.jpg" alt="">
              </div>
              <div class="articles__card-info">
                <h5 class="articles__card-title">
                  Permanent residence in Poland with a Pole's Card or by origin
                </h5>
                <div class="articles__card-footer">
                  <time class="articles__card-date" datetime="2020-09-20">
                    20 Sep 2020
                  </time>
                  <div class="articles__card-details">
                    <span class="articles__card-comments">
                      14
                    </span>
                    <span class="articles__card-views">
                      256
                    </span>
                    <span class="articles__card-time">
                      3 min.
                    </span>
                  </div>
                </div>
              </div>
            </a>
            <a class="articles__card" href="#">
              <div class="articles__maincard-tags">
                <span class="articles__maincard-tag">
                  Permit/permanent
                </span>
                <span class="articles__maincard-tag">
                  money
                </span>
              </div>
              <div class="articles__card-photo">
                <img class="articles__card-img" src="./images/articles/card-img-3.jpg" alt="">
              </div>
              <div class="articles__card-info">
                <h5 class="articles__card-title">
                  Simplified relocation to Poland for IT-specialists from Romania
                </h5>
                <div class="articles__card-footer">
                  <time class="articles__card-date" datetime="2020-09-20">
                    20 Sep 2020
                  </time>
                  <div class="articles__card-details">
                    <span class="articles__card-comments">
                      20
                    </span>
                    <span class="articles__card-views">
                      256
                    </span>
                    <span class="articles__card-time">
                      3 min.
                    </span>
                  </div>
                </div>
              </div>
            </a>
            <a class="articles__card" href="#">
              <div class="articles__maincard-tags">
                <span class="articles__maincard-tag">
                  Permit/permanent
                </span>
                <span class="articles__maincard-tag">
                  money
                </span>
              </div>
              <div class="articles__card-photo">
                <img class="articles__card-img" src="./images/articles/card-img-4.jpg" alt="">
              </div>
              <div class="articles__card-info">
                <h5 class="articles__card-title">
                  CRBR in Poland: register of beneficiaries
                </h5>
                <div class="articles__card-footer">
                  <time class="articles__card-date" datetime="2020-09-20">
                    20 Sep 2020
                  </time>
                  <div class="articles__card-details">
                    <span class="articles__card-comments">
                      20
                    </span>
                    <span class="articles__card-views">
                      256
                    </span>
                    <span class="articles__card-time">
                      3 min.
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>

      <section class="courses" id="courses">
        <div class="container">
          <div class="main__head">
            <h2 class="subtitle">
              Courses
            </h2>
            <a class="main__link" href="#">
              All courses
            </a>
          </div>
          <div class="courses__cards">
            <a class="courses__card" href="#">
              <div class="courses__card-bg">
                <img class="courses__card-img" src="./images/courses/image-1.jpg" alt="">
              </div>
              <div class="courses__card-info">
                <span class="courses__tag">
                  Course
                </span>
                <h3 class="courses__title">
                  How to find a job in Warsaw
                </h3>
                <span class="courses__card-date">
                  Start: <span class="date">October 12</span>
                </span>
              </div>
            </a>
            <a class="courses__card" href="#">
              <div class="courses__card-bg">
                <img class="courses__card-img" src="./images/courses/image-2.jpg" alt="">
              </div>
              <div class="courses__card-info">
                <span class="courses__tag">
                  Course
                </span>
                <h3 class="courses__title">
                  Polish language for residence permit
                </h3>
                <span class="courses__card-date">
                  Start: <span class="date">October 12</span>
                </span>
              </div>
            </a>
            <a class="courses__card" href="#">
              <div class="courses__card-bg">
                <img class="courses__card-img" src="./images/courses/image-3.jpg" alt="">
              </div>
              <div class="courses__card-info">
                <span class="courses__tag">
                  Course
                </span>
                <h3 class="courses__title">
                  Open a residence permit in Poland
                </h3>
                <span class="courses__card-date">
                  Start: <span class="date">October 12</span>
                </span>
              </div>
            </a>
            <a class="courses__card" href="#">
              <div class="courses__card-bg">
                <img class="courses__card-img" src="./images/courses/image-4.jpg" alt="">
              </div>
              <div class="courses__card-info">
                <span class="courses__tag">
                  Course
                </span>
                <h3 class="courses__title">
                  How to find a job in Warsaw
                </h3>
                <span class="courses__card-date">
                  Start: <span class="date">October 12</span>
                </span>
              </div>
            </a>
          </div>
        </div>
      </section>

      <section class="slider life" id="life">
        <div class="container">
          <div class="main__head">
            <h2 class="subtitle">
              Life in Poland
            </h2>
            <a class="main__link" href="#">
              see all
            </a>
          </div>
          <div class="slider__slides">
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/articles/card-img-1.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    CRBR in Poland: register of beneficiaries
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        20
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/life/life-img-2.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    Permanent residence in Poland with a Pole's Card or by origin
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        14
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/life/life-img-3.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    Electronic digital signature in Poland
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        20
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/articles/card-img-4.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    CRBR in Poland: register of beneficiaries
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        20
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="slider firms">
        <div class="container">
          <div class="main__head">
            <h2 class="subtitle">
              Opening a company in Poland
            </h2>
            <a class="main__link" href="#">
              see all
            </a>
          </div>
          <div class="slider__slides">
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/articles/card-img-4.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    CRBR in Poland: register of beneficiaries
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        20
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/articles/card-img-2.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    Permanent residence in Poland with a Pole's Card or by origin
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        14
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/firms/firms-img-3.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    Electronic digital signature in Poland
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        20
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/articles/card-img-4.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    CRBR in Poland: register of beneficiaries
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        20
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="slider education">
        <div class="container">
          <div class="main__head">
            <h2 class="subtitle">
              Education in Poland
            </h2>
            <a class="main__link" href="#">
              see all
            </a>
          </div>
          <div class="slider__slides">
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/education/education-img-1.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    CRBR in Poland: register of beneficiaries
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        20
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/education/education-img-2.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    Permanent residence in Poland with a Pole's Card or by origin
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        14
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/education/education-img-3.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    Electronic digital signature in Poland
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        20
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/articles/card-img-4.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    CRBR in Poland: register of beneficiaries
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        20
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="slider travels">
        <div class="container">
          <div class="main__head">
            <h2 class="subtitle">
              Travel in Poland
            </h2>
            <a class="main__link" href="#">
              see all
            </a>
          </div>
          <div class="slider__slides">
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/travels/travels-img-1.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    CRBR in Poland: register of beneficiaries
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        20
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/travels/travels-img-2.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    Permanent residence in Poland with a Pole's Card or by origin
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        14
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/travels/travels-img-3.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    Electronic digital signature in Poland
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        20
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slider__slide">
              <a class="articles__card" href="#">
                <div class="articles__maincard-tags">
                  <span class="articles__maincard-tag">
                    Permit/permanent
                  </span>
                  <span class="articles__maincard-tag">
                    money
                  </span>
                </div>
                <div class="articles__card-photo">
                  <img class="articles__card-img" src="./images/articles/card-img-4.jpg" alt="">
                </div>
                <div class="articles__card-info">
                  <h5 class="articles__card-title">
                    CRBR in Poland: register of beneficiaries
                  </h5>
                  <div class="articles__card-footer">
                    <time class="articles__card-date" datetime="2020-09-20">
                      20 Sep 2020
                    </time>
                    <div class="articles__card-details">
                      <span class="articles__card-comments">
                        20
                      </span>
                      <span class="articles__card-views">
                        256
                      </span>
                      <span class="articles__card-time">
                        3 min.
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="help">
        <div class="container">
          <h2 class="subtitle">
            How can we help
          </h2>
          <div class="help__cards">
            <div class="help__card">
              <img class="help__card-icon" src="./images/help/help-icon-1.svg" alt="">
              <h5 class="help__card-title">
                IT business incubator
              </h5>
              <p class="help__card-text">
                Relocation of IT-freelancers and programmers to Poland. Registration of a virtual company that allows
                you to work B2B with the West.
              </p>
              <a class="main__link" href="#">
                More
              </a>
            </div>
            <div class="help__card">
              <img class="help__card-icon" src="./images/help/help-icon-2.svg" alt="">
              <h5 class="help__card-title">
                Virtual representation
              </h5>
              <p class="help__card-text">
                We create a representative office that can work with a Western client and receive payments to a bank
                account (USD, EUR, PLN) and PayPal.
              </p>
              <a class="main__link" href="#">
                More
              </a>
            </div>
            <div class="help__card">
              <img class="help__card-icon" src="./images/help/help-icon-3.svg" alt="">
              <h5 class="help__card-title">
                Business registration
              </h5>
              <p class="help__card-text">
                We carry out full bookkeeping for projects operating in Poland. We advise on accounting, financial and
                tax issues.
              </p>
              <a class="main__link" href="#">
                More
              </a>
            </div>
            <div class="help__card">
              <img class="help__card-icon" src="./images/help/help-icon-4.svg" alt="">
              <h5 class="help__card-title">
                Accounting in Poland
              </h5>
              <p class="help__card-text">
                Registration of legal entities (sp. z o.o., S.A., etc.), representative offices of foreign enterprises
                and individual entrepreneurs in Poland.
              </p>
              <a class="main__link" href="#">
                More
              </a>
            </div>
            <div class="help__card">
              <img class="help__card-icon" src="./images/help/help-icon-5.svg" alt="">
              <h5 class="help__card-title">
                Marketing services
              </h5>
              <p class="help__card-text">
                Marketing support for projects on the Polish market: SEO, SMM, website design and development, business
                strategy preparation.
              </p>
              <a class="main__link" href="#">
                More
              </a>
            </div>
            <div class="help__card">
              <img class="help__card-icon" src="./images/help/help-icon-6.svg" alt="">
              <h5 class="help__card-title">
                Legal services
              </h5>
              <p class="help__card-text">
                We provide services for individuals and businesses. We analyze Polish law, provide comprehensive
                services to companies.
              </p>
              <a class="main__link" href="#">
                More
              </a>
            </div>
            <div class="help__card">
              <img class="help__card-icon" src="./images/help/help-icon-7.svg" alt="">
              <h5 class="help__card-title">
                Legalization of stay
              </h5>
              <p class="help__card-text">
                We provide services for individuals and businesses. We analyze Polish law, provide comprehensive
                services to companies.
              </p>
              <a class="main__link" href="#">
                More
              </a>
            </div>
            <div class="help__card">
              <img class="help__card-icon" src="./images/help/help-icon-8.svg" alt="">
              <h5 class="help__card-title">
                Polish market audit
              </h5>
              <p class="help__card-text">
                Audit of the market segment, competition and preparation of the business model. Preparation of the
                project for the Polish market and consumer.
              </p>
              <a class="main__link" href="#">
                More
              </a>
            </div>
            <div class="help__card">
              <img class="help__card-icon" src="./images/help/help-icon-9.svg" alt="">
              <h5 class="help__card-title">
                Consultations
              </h5>
              <p class="help__card-text">
                Advice on the legal aspects of running a business, legal employment opportunities, living and moving to
                Poland.
              </p>
              <a class="main__link" href="#">
                More
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="social">
        <div class="container">
          <h2 class="subtitle">
            Be in the Course of important news
          </h2>
          <div class="social__items">
            <div class="social__item telegram">
              <div class="social__item-icon">
                <img class="social__item-img" src="./images/social/telegram.svg" alt="">
              </div>
              <h4 class="social__item-name">
                Telegram
              </h4>
              <p class="social__item-desc">
                Fresh and important news from Poland. No extra spam.
              </p>
              <a class="social__item-link" href="#">
                Subscribe to the channel
              </a>
            </div>
            <div class="social__item facebook">
              <div class="social__item-icon">
                <img class="social__item-img" src="./images/social/facebook.svg" alt="">
              </div>
              <h4 class="social__item-name">
                Facebook
              </h4>
              <p class="social__item-desc">
                News, events, prompt answers to your questions.
              </p>
              <a class="social__item-link" href="#">
                Write to Messenger
              </a>
            </div>
            <div class="social__item email">
              <div class="social__item-icon">
                <img class="social__item-img" src="./images/social/email.svg" alt="">
              </div>
              <h4 class="social__item-name">
                By mail
              </h4>
              <p class="social__item-desc">
                We write rarely, but aptly. About the most important.
              </p>
              <a class="social__item-link" href="#">
                Subscribe to news
              </a>
            </div>
          </div>
        </div>
      </section>


    </main>

    {% include './parts/_footer.html' %}